

<%- include('../alerts') %>

     
        <!-- Advanced Validation -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>Create New Brand</h2>
                       
                    </div>
                    <div class="body">
                        <form id="form_advanced_validation" method="POST" action="/dashboard/brands/store">

                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="text" class="form-control" name="brand_name" maxlength="100" minlength="3" required>
                                    <label class="form-label">Brand Name</label>
                                </div>
                                <div class="help-info">Min. 3, Max. 100 characters</div>
                            </div>


                           
                            

                            <button class="btn btn-raised btn-primary waves-effect" type="submit">CREATE</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Advanced Validation --> 
       

