<div class="row">
    <div class="col-lg-12">
       
        <div class="card">
            <div class="body">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="m-t-0">Velit a labore</h3>
                        <div class="media">
                            <div class="float-left">
                                <div class="m-r-20"> <img class="rounded" src="<%= baseUrl %>/dashboard/html/assets/images/xs/avatar7.jpg" alt=""> </div>
                            </div>
                            <div class="media-body">
                                <p class="m-b-0">
                                    <span class="text-muted">from</span>
                                    <a href="javascript:void(0);" class="text-default">woodwalton@orbaxter.com</a>
                                    <span class="text-muted text-sm float-right">16:54, 24.04.2017</span>
                                </p>
                                <p class="m-b-0"><span class="text-muted">to</span>Me</p>
                             
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="col-md-12">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                        <p>printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrnturies, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                        <hr>
                    </div>
                                 
                </div>
            </div>
        </div>
        <div class="card">
            <div class="body">                
                <div class=""> Click here to <a href="/dashboard/contacts/compose">Reply</a> </div>                
            </div>
        </div>
    </div>
</div>